* {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    scroll-behavior: smooth;
}

.head {
    -webkit-box-shadow: -2px 12px 15px -8px rgba(0, 0, 0, 0.13);
    box-shadow: -2px 12px 15px -8px rgba(0, 0, 0, 0.13);
}

.head-container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
}

.head-left h3 {
    padding: 0px 12px;
    font-size: 23px;
}

.head-left h3 a {
    text-decoration: none;
    color: #333;
}

.head-right ul {
    list-style: none;
    display: flex;
}

.head-right ul li {
    padding: 8px 20px
}

.head-right ul li a {
    text-decoration: none;
    color: #333;
    font-size: 22px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.hero-area {
    display: grid;
    grid-template-columns: 700px 500px;
    padding: 100px 30px;
    background: #ecf0f1;
    border-radius: 10px;
    margin-top: 30px;
}

.hero-left h2 {
    font-size: 60px;
    font-weight: 600;
}

.hero-left p {
    font-size: 20px;
    color: #333;
    margin-top: -30px;
}

.hero-left button {
    font-size: 20px;
    color: white;
    background: red;
    padding: 10px 25px;
    border: none;
    cursor: pointer;
}

.hero-right {
    display: flex;
    justify-content: center;
}

.about-section h1 {
    font-size: 50px;
    text-align: center;
    font-weight: 500;
}

.about-devider {
    width: 450px;
    height: 2px;
    background: rgba(128, 128, 128, 0.253);
    margin: -34px auto;
}

.about-main {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 600px 600px;
    padding: 30px;
}

.about-left {
    display: flex;
    align-items: left;
    flex-direction: column;
    justify-content: center;
}

.about-left h3 {
    font-size: 35px;
    font-weight: 400;
    text-transform: capitalize;
    color: #333;
}

.about-left p {
    font-size: 20px;
    margin-top: -25px;
}

.about-right {
    display: flex;
    justify-content: center;
    width: 450px;
}

.service-section h1 {
    font-size: 50px;
    font-weight: 500;
    text-transform: capitalize;
    text-align: center;
}

.service-container {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-column-gap: 100px;
    margin-bottom: 100px;
}

.service-img {
    width: 400px;
    height: 400px;
    border: 10px solid #989a9b;
}

.service {
    position: relative;
}

.service-info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    left: 0;
    height: 420px;
    width: 420px;
    background: #8d44ad8a;
    color: white;
    font-size: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    opacity: 0;
}

.service:hover .service-info {
    opacity: 1;
}

.contact-section h1 {
    font-size: 50px;
    text-align: center;
    font-weight: 500;
}

input {
    width: 350px;
    padding: 10px;
    border: none;
    background: #ecf0f1;
    box-shadow: 1px 1px 5px grey;
    margin-top: 10px;
}

.contact-form {
    width: 700px;
    margin: 30px auto;
}

.name {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 30px;
    margin-top: 30px;
}

input:focus {
    outline: none;
}

.address-1 {
    width: 500px;
    padding: 10px;
    border: none;
    background: #ecf0f1;
    box-shadow: 1px 1px 5px grey;
    margin-top: 10px;
}

.address-2 {
    width: 200px;
    padding: 10px;
    border: none;
    background: #ecf0f1;
    box-shadow: 1px 1px 5px grey;
    margin-top: 10px;
}

.textarea {
    height: 50px;
    width: 750px;
    margin-top: 30px;
}

.submit {
    font-size: 20px;
    background: red;
    padding: 10px 40px;
    color: white;
    border: none;
    margin-top: 40px;
    width: 770px;
    margin: 23px auto;
}

footer {
    text-align: center;
}